<div id="contact">
    <div class="header">
        <h2 class="header__title">Get In Touch</h2>
    </div>
    <div class="wrapper">
        <div class="content">
            <h3 class="content__title">
                Find me on
            </h3>
            <div class="content__info">
                <ul>
                    <li>
                        <img src="assets/mail.svg" alt="mail">                        
                        <span>krupawojciech13@gmail.com</span>
                    </li>
                    <li>
                        <img src="assets/conversation.svg" alt="messenger">
                        <span>Chat me on Discord - Wojtaz13#1688</span>
                    </li>
                </ul>
            </div>            
        </div>
        <div class="image">

            <img src="assets/typing.jpg" alt="" class="typing">
        </div>
    </div>
</div>