<div class="container" id="">
    <div class="header">
        <h2 class="header__title">Experience</h2>
    </div>
    <div class="wrapper">
        <div class="item">
            <div class="item__overlay">
                <h2 class="item__title">Spacer</h2>
                <p class="item__info">Vue.js</p>
            </div>
            <a href="https://github.com/Wojtas13/vue-spacer">
                <img src="assets/spacer.png" alt="spacer">
            </a>
        </div>
        <div class="item">
            <div class="item__overlay">
                <h2 class="item__title">Invoice app</h2>
                <p class="item__info">Angular</p>
            </div>
            <a href="https://github.com/Wojtas13/Invoice-app">
                <img src="assets/invoice.gif" alt="invoice">
            </a>
        </div>
        <div class="item">
            <div class="item__overlay">
                <h2 class="item__title">Dashboard</h2>
                <p class="item__info">WPF</p>
            </div>
            <a href="https://github.com/KrystianJacaszek/Dashboard-WPF">
                <img src="assets/dashboard.png" alt="dashboard">
            </a>
        </div>
        <div class="item">
            <div class="item__overlay">
                <h2 class="item__title">CookBook</h2>
                <p class="item__info">UWP</p>
            </div>            
            <a href="https://dev.azure.com/jakubpietras-university/Cookbook">
                <img src="assets/cookbook.png" alt="cookbook">
            </a>
        </div>
        <div class="item">
            <div class="item__overlay">
                <h2 class="item__title">#1 Editor</h2>
                <p class="item__info">JavaScript</p>
            </div>            
            <a href="https://github.com/Wojtas13/JavaScript-Projects">
                <img src="assets/image_editor.gif" alt="js_projects">
            </a>
        </div>
        <div id="about"></div>
    </div>
</div>