<div>
    <div class="header">
        <h2 class="header__title">
            Who am I ?
        </h2>
    </div>
    <div class="wrapper">
        <div class="content">
            <div class="quote">
                <h3 class="quote__title">
                        "Most of us <br/>
                    <span class="textColor">
                        spend too much time on
                    </span> 
                    <br/>
                        what is urgent
                    <br/> 
                    <span class="textColor">
                        and not enough time on
                    </span> 
                    <br/>
                        what is important"                    
                </h3>
                <h4 class="quote__author">
                    &mdash;Stephen R. Covey 
                </h4>
            </div>
            <div class="wrapper__info">
                <h4 class="info__title">a few words...</h4>
                I am a student who starts his adventure with frontend. <br/>
                I am currently self-taught, I do courses and small projects to improve my skills in creating advanced websites and applications.
            </div>
            <h3 class="content__hobby">What I'm Into</h3>
            <ul>
                <li>Animations</li>
            </ul>
            <ul>
                <li>Music</li>
            </ul>
            <ul>
                <li>Gym</li>
            </ul>
            <ul>
                <li>Games</li>
            </ul>
        </div>
        <div class="image">
            <img src="assets/desk.jpg" alt="">
        </div>
    </div>
</div>