<div class="wrapper" [ngClass]="menuIsOpen ? 'wrapper__isOpen' : 'wrapper__isClosed'">
    <div>
        <ul class="menu">
            <li class="item">
                <a href="#home" class="link">Home</a>
            </li>
            <li class="item">
                <a href="#portfolio" class="link">Portfolio</a>
            </li>
            <li class="item">
                <a href="#about" class="link">About me</a>
            </li>
            <li class="item">
                <a href="#contact" class="link">Contact</a>
            </li>
        </ul>
    </div>
    <button class="faqBtn">faq</button>
</div>