<div class="wrapper" [ngClass]="menuIsOpen ? 'wrapper__isOpen' : 'wrapper__isClosed'">
    <div>
        <ul class="menu">
            <li class="item">
                <button class="link" routerLink="/">Home</button>
            </li>
            <li class="item">
                <button class="link" routerLink="/">Portfolio</button>
            </li>
            <li class="item">
                <button class="link" routerLink="/">About me</button>
            </li>
            <li class="item">
                <button class="link" routerLink="/">Contact</button>
            </li>
        </ul>
    </div>
    <button class="faqBtn">faq</button>
</div>