.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: -20px;
    z-index: 9998;

    @media (min-width: 1024px) {
        margin-right: 0;
    }

    .icon {
        width: auto;
        height: 30px;
        margin: 10px;
    }

    img {
        height: 100%;
    }
}